.base-currency-container,
.date-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &__caption {
    margin-right: 20px;
  }
}

.app-container {
  width: 600px;
  margin: 0 auto;

  &__title {
    text-align: center;
  }

  &__table {
    margin: 0 auto;
  }

  &__currency-converter {
    margin-bottom: 20px;
  }
}
