.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(225deg, #fff 0%, #8c96ca 100%);
  padding: 50px 20px;
  text-align: center;
}

.title {
  margin-top: 0;
}

.converter {
  margin-bottom: 30px;
}
