.sorting-icon {
  width: 16px;
  height: 16px;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border: 6px solid transparent;
    left: 3px;
  }

  &::before {
    top: -6px;
    border-bottom: 6px solid gray;
  }

  &::after {
    bottom: -6px;
    border-top: 6px solid gray;
  }

  &--ascending::before {
    border-bottom: 6px solid black;
  }

  &--descending::after {
    border-top: 6px solid black;
  }
}
